/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 20px 25px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 6px;
}

input[type='number'] {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  outline: none;
  font-size: 16px;
}

input[type='number']:focus {
  border-color: #4e75ff;
}

fieldset {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

legend {
  padding: 0 5px;
  font-size: 13px;
  font-weight: 600;
}

button[type='submit'] {
  padding: 10px;
  font-size: 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s;
}

button[type='submit']:hover {
  background-color: #2f57ff;
}
